<footer class="container-fluid text-center bg-primary text-white">
  <div class="row">
    <div class="col-sm-6">
      <p>Find us on social media:</p>
    </div>
    <div class="col-sm-6 list-inline">
      <ul>
        <li class="list-inline-item">
          <a href="https://www.facebook.com/groups/shenipsitstriders/" target="_blank">Facebook</a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/ShenipsitStrdrs" target="_blank">Twitter</a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/shenipsitstriders" target="_blank">Instagram</a>
        </li>
      </ul>
    </div>
  </div>
</footer>