<header>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="{{ site.baseurl }}{% link index.html %}">
      <img src="{{ site.baseurl }}{% link /images/Shenipsit-Striders-greenonmango.jpg %}" 
          width="30" height="30" class="d-inline-block align-top" alt="Running Tree">Shenipsit Striders</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}{% link club-races.md %}" id="racesdropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Races</a>
          <div class="dropdown-menu" aria-labelledby="racesdropdown">
{% include menu_dropdown-items.html event_type="club-races" %}
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}{% link fun-runs.md %}" id="runsdropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Runs</a>
          <div class="dropdown-menu" aria-labelledby="runsdropdown">
{% include menu_dropdown-items.html event_type="fun-runs" %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/contact-us.html">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}{% link joinrenew.md %}">Join/Renew</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=RVGCGZ55AUVMY&source=url" target="_blank" title="Donate to the Striders with PayPal">Donate</a>
        </li>
      </ul>
    </div>
  </nav>
</header>